nav {
  font-family: 'Source Sans Pro', sans-serif;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  padding: 1.5em;
  position: fixed;
  top: 0;
}

.nav-tweeter {
  font-family: 'Bungee', cursive, sans-serif;
}

.write-tweet{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.fa-angle-double-down {
  display: flex;
  justify-content: flex-end;
  margin-right: 75px;
  color: red;
}
