nav {
  font-family: 'Source Sans Pro', sans-serif;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  padding: 1.5em;
  position: fixed;
  top: 0;
}

.nav-tweeter {
  font-family: 'Bungee', cursive, sans-serif;
}

.write-tweet{
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.fa-angle-double-down {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  color: red;
  padding: 5px;
}

/** Added styles for making our design responsive **/
@media only screen and (max-width: 768px) {
  nav {
    padding: 0.5em;
    height: 75px;
  }
}
@media only screen and (min-width: 1200px) {
  nav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
