.tweet {
  border: 3px solid #545149;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: lighter;
}

.tweet:hover {
  margin-top: 10px;
  box-shadow: 10px 10px;
  font-weight: bolder;
  display: block;
}

.tweet h5 {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.tweet h6{  
  margin-right: 25px;
  display: flex;
  justify-content: flex-end;
  color: grey;
}

.tweet div img {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}



article.tweet footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article.tweet span {
  font-size: small;
  font-family: Source sans pro;
}

footer span {
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.icon {
  margin-right: 30px;
  color: #4056A1;
  display: flex; 
  justify-content: flex-end; 
}
i {
  padding: 5px;
}