.tweet {
  border: 3px solid #545149;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: lighter;
}

.tweet:hover {
  margin-top: 10px;
  box-shadow: 10px 10px;
  font-weight: bolder;
  display: block;
}
.tweet-user {
  display: flex;
}

.user-name {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.user-handle {  
  display: flex;
  justify-content: start;
  color: grey;
  margin-right: 150px;
}

.tweet-user img {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article.tweet span {
  font-size: small;
  font-family: Source sans pro;
}

footer span {
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.icon {
  margin-right: 20px;
  color: #4056A1;
  display: flex; 
  justify-content: flex-end; 
}
i {
  padding: 5px;
}

/** Styles for displaying an error messages **/
.alert {
  color: red;
  border: 2px dotted red;
  padding: 20px;
}